.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
*.gtkw
repo_update.sh
src/docker_iverilog.sh
src/docker_pnr.sh
src/docker_synth.sh
src/top.json
test/*/__pycache__/
test/*/iverilog_dump.v
test/*/results.xml
test/*/sim_build/
test/test_outputs/*.txt
test/test_outputs/*.LOG
*.drawio
